In [82]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
pd.set_option("display.max_colwidth",None)
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)

from IPython.display import display, HTML
display(HTML("<h1>Airbnb Data</h1>"))
from geopy.distance import great_circle

In [83]:
d1 = {'BATTERY - SIMPLE ASSAULT' : '3rd Degree' ,
       'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE': '3rd Degree',
       'VANDALISM - MISDEAMEANOR ($399 OR UNDER)' : '3rd Degree',
       'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)': '3rd Degree',
       'RAPE, FORCIBLE': '1st Degree', 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)': '4th Degree',
       'OTHER MISCELLANEOUS CRIME': '4th Degree',
       'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD': '4th Degree',
       'BURGLARY FROM VEHICLE':'4th Degree', 'CRIMINAL THREATS - NO WEAPON DISPLAYED': '4th Degree',
       'ARSON': '1st Degree', 'INTIMATE PARTNER - SIMPLE ASSAULT': '3rd Degree',
       'THEFT PLAIN - PETTY ($950 & UNDER)': '4th Degree', 'THEFT OF IDENTITY': '4th Degree',
       'ROBBERY': '4th Degree', 'ASSAULT WITH DEADLY WEAPON': '2nd Degree', 'AGGRAVATED ASSAULT': '2nd Degree',
       'BURGLARY': '4th Degree', 'VEHICLE - STOLEN': '4th Degree',
       'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)': '4th Degree',
       'BRANDISH WEAPON': '4th Degree', 'INTIMATE PARTNER - AGGRAVATED ASSAULT': '2nd Degree',
       'BUNCO, GRAND THEFT': '4th Degree', 'THEFT, PERSON': '4th Degree',
       'BATTERY WITH SEXUAL CONTACT': '2nd Degree', 'BIKE - STOLEN': '4th Degree',
       'BATTERY POLICE (SIMPLE)': '3rd Degree',
       'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD': '4th Degree',
       'VIOLATION OF COURT ORDER': '4th Degree', 'TRESPASSING': '4th Degree',
       'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)': '4th Degree',
       'VIOLATION OF RESTRAINING ORDER': '4th Degree', 'DISTURBING THE PEACE': '4th Degree',
       'THEFT FROM MOTOR VEHICLE - ATTEMPT': '4th Degree',
       'THROWING OBJECT AT MOVING VEHICLE': '3rd Degree', 'EXTORTION': '2nd Degree',
       'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ': '1st Degree',
       'CHILD STEALING': '2nd Degree',
       'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)': '2nd Degree',
       'ATTEMPTED ROBBERY': '4th Degree', 'OTHER ASSAULT': '3rd Degree', 'BOMB SCARE': '2nd Degree',
       'DOCUMENT FORGERY / STOLEN FELONY': '4th Degree',
       'SEXUAL PENETRATION W/FOREIGN OBJECT': '1st Degree',
       'SHOTS FIRED AT INHABITED DWELLING': '3rd Degree', 'BURGLARY, ATTEMPTED': '4th Degree',
       'INDECENT EXPOSURE': '3rd Degree', 'ORAL COPULATION': '1st Degree',
       'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)': '4th Degree',
       'VIOLATION OF TEMPORARY RESTRAINING ORDER': '4th Degree', 'BUNCO, PETTY THEFT': '4th Degree',
       'KIDNAPPING - GRAND ATTEMPT': '2nd Degree',
       'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)': '4th Degree', 'RESISTING ARREST': '3rd Degree',
       'DISCHARGE FIREARMS/SHOTS FIRED': '2nd Degree',
       'THREATENING PHONE CALLS/LETTERS': '4th Degree', 'KIDNAPPING': '2nd Degree',
       'LEWD/LASCIVIOUS ACTS WITH CHILD': '2nd Degree', 'LEWD CONDUCT': '2nd Degree',
       'UNAUTHORIZED COMPUTER ACCESS': '4th Degree', 'PURSE SNATCHING': '4th Degree',
       'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH': '1st Degree',
       'CHILD NEGLECT (SEE 300 W.I.C.)': '3rd Degree', 'CONTEMPT OF COURT': '4th Degree',
       'CHILD ANNOYING (17YRS & UNDER)': '4th Degree', 'BUNCO, ATTEMPT': '4th Degree',
       'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT': '3rd Degree', 'PIMPING': '2nd Degree', 'STALKING': '4th Degree',
       'THEFT PLAIN - ATTEMPT': '4th Degree', 'RAPE, ATTEMPTED': '1st Degree',
       'SHOPLIFTING - ATTEMPT': '4th Degree', 'THEFT FROM PERSON - ATTEMPT': '4th Degree',
       'FALSE IMPRISONMENT': '4th Degree', 'BURGLARY FROM VEHICLE, ATTEMPTED': '4th Degree',
       'FAILURE TO YIELD': '4th Degree', 'VEHICLE - ATTEMPT STOLEN': '4th Degree',
       'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)': '4th Degree',
       'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER': '4th Degree',
       'COUNTERFEIT': '4th Degree', 'CREDIT CARDS, FRAUD USE ($950 & UNDER': '4th Degree',
       'PICKPOCKET': '4th Degree', 'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT': '2nd Degree',
       'CRIMINAL HOMICIDE': '1st Degree', 'PROWLER':'4th Degree',
       'DOCUMENT WORTHLESS ($200 & UNDER)': '4th Degree',
       'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01': '4th Degree',
       'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER': '2nd Degree',
       'DISHONEST EMPLOYEE - GRAND THEFT': '4th Degree',
       'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS': '1st Degree', 'CHILD PORNOGRAPHY': '1st Degree',
       'PEEPING TOM':'4th Degree', 'BATTERY ON A FIREFIGHTER': '3rd Degree',
       'TILL TAP - PETTY ($950 & UNDER)': '4th Degree',
       'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT': '2nd Degree',
       'TILL TAP - GRAND THEFT ($950.01 & OVER)': '4th Degree',
       'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE': '1st Degree',
       'FIREARMS RESTRAINING ORDER (FIREARMS RO)':'4th Degree',
       'DRIVING WITHOUT OWNER CONSENT (DWOC)':'4th Degree',
       'DOCUMENT WORTHLESS ($200.01 & OVER)': '4th Degree', 'CRUELTY TO ANIMALS':'2nd Degree',
       'CREDIT CARDS, FRAUD USE ($950.01 & OVER)':'4th Degree', 'LYNCHING - ATTEMPTED':'2nd Degree',
       'FALSE POLICE REPORT': '4th Degree', 'PANDERING':'1st Degree', 'ILLEGAL DUMPING':'4th Degree',
       'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)': '4th Degree',
       'PETTY THEFT - AUTO REPAIR': '4th Degree', 'MANSLAUGHTER':'1st Degree', 'NEGLIGENT':'4th Degree',
       'RECKLESS DRIVING': '4th Degree', 'PURSE SNATCHING - ATTEMPT': '4th Degree',
       'BIKE - ATTEMPTED STOLEN': '4th Degree', 'CONSPIRACY':'4th Degree', 'CONTRIBUTING':'3rd Degree',
       'WEAPONS POSSESSION/BOMBING':'1st Degree', 'BRIBERY': '4th Degree', 'BOAT - STOLEN': '4th Degree',
       'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)': '4th Degree',
       'GRAND THEFT / INSURANCE FRAUD': '4th Degree', 'LYNCHING': '1st Degree', 'DISRUPT SCHOOL':'4th Degree',
       'DISHONEST EMPLOYEE - PETTY THEFT': '4th Degree',
       'THEFT, COIN MACHINE - ATTEMPT': '4th Degree',
       'THEFT, COIN MACHINE - PETTY ($950 & UNDER)': '4th Degree',
       'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)':'4th Degree',
       'DRUGS, TO A MINOR':'3rd Degree', 'GRAND THEFT / AUTO REPAIR': '4th Degree',
       'PICKPOCKET, ATTEMPT': '4th Degree', 'DRUNK ROLL':'4th Degree', 'CHILD ABANDONMENT':'3rd Degree',
       'TELEPHONE PROPERTY - DAMAGE':'4th Degree',
       'BEASTIALITY':'2nd Degree', 'CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM':'2nd Degree',
       'BIGAMY':'4th Degree', 'FAILURE TO DISPERSE':'4th Degree',
       'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)': '4th Degree',
       'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)': '1st Degree',
       'DISHONEST EMPLOYEE ATTEMPTED THEFT': '4th Degree',
       'BLOCKING DOOR INDUCTION CENTER': '4th Degree', 'INCITING A RIOT': '2nd Degree'}

In [84]:
crime_data = pd.read_csv("MergedData.csv")
crime_data.head()

,AREA NAME,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Premis Desc,Crm Cd 1,LOCATION,LAT,LON
0,Pacific,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0334 1420 1309 0302 1822,RESTAURANT/FAST FOOD,230.0,5400 W CENTINELA AV,33.9769,-118.3846
1,Hollywood,1,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 1822 1501,CONDOMINIUM/TOWNHOUSE,440.0,1400 N FORMOSA AV,34.0962,-118.3462
2,Northeast,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1822 0344,STREET,420.0,4500 SAN ANDREAS AV,34.1099,-118.2178
3,Pacific,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER),0344 1300,GARAGE/CARPORT,331.0,200 4TH AV,33.9991,-118.4766
4,Harbor,1,510,VEHICLE - STOLEN,NaN,PARKING LOT,510.0,2500 E 223RD ST,33.8243,-118.2250

In [85]:
crime_data["Crm Cd Desc"] = crime_data["Crm Cd Desc"].map(d1)

In [86]:
crime_data["Crm Cd Desc"].isnull().sum()

1563

In [87]:
areaCrimeCounts = crime_data.groupby("AREA NAME").size().reset_index(name="Crime Count")
print(areaCrimeCounts)

      AREA NAME  Crime Count
0   77th Street          924
1       Central         1325
2    Devonshire          412
3      Foothill          820
4        Harbor         3807
5    Hollenbeck         6241
6     Hollywood         3715
7       Mission          874
8   N Hollywood         1770
9        Newton          350
10    Northeast         3801
11      Olympic          855
12      Pacific         6105
13      Rampart          960
14    Southeast          841
15    Southwest          940
16      Topanga         1488
17     Van Nuys          796
18      West LA         4609
19  West Valley          785
20     Wilshire         3265

In [88]:
rowswithNA = crime_data[crime_data.isna().any(axis=1)]

In [89]:
area_crime_counts = areaCrimeCounts.sort_values(by="Crime Count", ascending = False)

In [90]:
area_crime_counts["Crime Count"]
print(area_crime_counts)

      AREA NAME  Crime Count
5    Hollenbeck         6241
12      Pacific         6105
18      West LA         4609
4        Harbor         3807
10    Northeast         3801
6     Hollywood         3715
20     Wilshire         3265
8   N Hollywood         1770
16      Topanga         1488
1       Central         1325
13      Rampart          960
15    Southwest          940
0   77th Street          924
7       Mission          874
11      Olympic          855
14    Southeast          841
3      Foothill          820
17     Van Nuys          796
19  West Valley          785
2    Devonshire          412
9        Newton          350

In [91]:
bins = [0, 1000, 3294, 4766, 6241]
labels = ["Low Danger", "Medium Danger", "High Danger", "Very High Danger"]

In [92]:
# Define bins and corresponding danger levels
bins = [0, 1000, 3000, 5000, float("inf")]
labels = ["Low Danger", "Medium Danger", "High Danger", "Very High Danger"]

# Assign Danger Levels based on Crime Count
area_crime_counts["Danger Level"] = pd.cut(area_crime_counts["Crime Count"], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
print(area_crime_counts)

      AREA NAME  Crime Count      Danger Level
5    Hollenbeck         6241  Very High Danger
12      Pacific         6105  Very High Danger
18      West LA         4609       High Danger
4        Harbor         3807       High Danger
10    Northeast         3801       High Danger
6     Hollywood         3715       High Danger
20     Wilshire         3265       High Danger
8   N Hollywood         1770     Medium Danger
16      Topanga         1488     Medium Danger
1       Central         1325     Medium Danger
13      Rampart          960        Low Danger
15    Southwest          940        Low Danger
0   77th Street          924        Low Danger
7       Mission          874        Low Danger
11      Olympic          855        Low Danger
14    Southeast          841        Low Danger
3      Foothill          820        Low Danger
17     Van Nuys          796        Low Danger
19  West Valley          785        Low Danger
2    Devonshire          412        Low Danger
9        Newton          350        Low Danger

In [93]:
# Map Danger Levels from area_crime_counts to crime_data
danger_level_mapping = area_crime_counts.set_index("AREA NAME")["Danger Level"].to_dict()

# Add the Danger Level column to crime_data based on AREA NAME
crime_data["Danger Level"] = crime_data["AREA NAME"].map(danger_level_mapping)

# Display the updated crime_data
print(crime_data.head())

   AREA NAME  Part 1-2  Crm Cd Crm Cd Desc                   Mocodes  \
0    Pacific         1     230         NaN  0334 1420 1309 0302 1822
1  Hollywood         1     440  4th Degree            0344 1822 1501
2  Northeast         1     420  4th Degree                 1822 0344
3    Pacific         1     331  4th Degree                 0344 1300
4     Harbor         1     510  4th Degree                       NaN

             Premis Desc  Crm Cd 1                                 LOCATION  \
0   RESTAURANT/FAST FOOD     230.0  5400 W  CENTINELA                    AV
1  CONDOMINIUM/TOWNHOUSE     440.0  1400 N  FORMOSA                      AV
2                 STREET     420.0  4500    SAN ANDREAS                  AV
3         GARAGE/CARPORT     331.0   200    4TH                          AV
4            PARKING LOT     510.0  2500 E  223RD                        ST

       LAT       LON      Danger Level
0  33.9769 -118.3846  Very High Danger
1  34.0962 -118.3462       High Danger
2  34.1099 -118.2178       High Danger
3  33.9991 -118.4766  Very High Danger
4  33.8243 -118.2250       High Danger

In [94]:
# crime_data["Danger Level"] = pd.cut(area_crime_counts["Crime Count"], bins, labels = labels)
# # print(area_crime_counts)

In [95]:
# crime_data.columns

In [96]:
area_crime_counts

      AREA NAME  Crime Count      Danger Level
5    Hollenbeck         6241  Very High Danger
12      Pacific         6105  Very High Danger
18      West LA         4609       High Danger
4        Harbor         3807       High Danger
10    Northeast         3801       High Danger
6     Hollywood         3715       High Danger
20     Wilshire         3265       High Danger
8   N Hollywood         1770     Medium Danger
16      Topanga         1488     Medium Danger
1       Central         1325     Medium Danger
13      Rampart          960        Low Danger
15    Southwest          940        Low Danger
0   77th Street          924        Low Danger
7       Mission          874        Low Danger
11      Olympic          855        Low Danger
14    Southeast          841        Low Danger
3      Foothill          820        Low Danger
17     Van Nuys          796        Low Danger
19  West Valley          785        Low Danger
2    Devonshire          412        Low Danger
9        Newton          350        Low Danger

In [97]:
crime_data.head()

,AREA NAME,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Premis Desc,Crm Cd 1,LOCATION,LAT,LON,Danger Level
0,Pacific,1,230,NaN,0334 1420 1309 0302 1822,RESTAURANT/FAST FOOD,230.0,5400 W CENTINELA AV,33.9769,-118.3846,Very High Danger
1,Hollywood,1,440,4th Degree,0344 1822 1501,CONDOMINIUM/TOWNHOUSE,440.0,1400 N FORMOSA AV,34.0962,-118.3462,High Danger
2,Northeast,1,420,4th Degree,1822 0344,STREET,420.0,4500 SAN ANDREAS AV,34.1099,-118.2178,High Danger
3,Pacific,1,331,4th Degree,0344 1300,GARAGE/CARPORT,331.0,200 4TH AV,33.9991,-118.4766,Very High Danger
4,Harbor,1,510,4th Degree,NaN,PARKING LOT,510.0,2500 E 223RD ST,33.8243,-118.2250,High Danger

In [98]:
crime_data.to_csv("CrimeData.csv")

In [99]:
# Find rows where Danger Level is NaN
missing_danger_level_rows = crime_data[crime_data["Danger Level"].isna()]

# Count the number of rows without Danger Levels
missing_count = missing_danger_level_rows.shape[0]

# Print the result
print(f"Number of rows without Danger Levels: {missing_count}")

# Optionally, display the rows without Danger Levels
print("Rows without Danger Levels:")
print(missing_danger_level_rows)

Number of rows without Danger Levels: 0
Rows without Danger Levels:
Empty DataFrame
Columns: [AREA NAME, Part 1-2, Crm Cd, Crm Cd Desc, Mocodes, Premis Desc, Crm Cd 1, LOCATION, LAT, LON, Danger Level]
Index: []

In [100]:
total_rows = crime_data.shape[0]
print("Total number of rows:", total_rows)

Total number of rows: 44683

In [101]:
undefined_count = crime_data["Danger Level"].isna().sum()
print("Number of rows without assigned Danger Level:", undefined_count)

Number of rows without assigned Danger Level: 0

In [102]:
print("Missing values in columns used for Danger Level assignment:")
print(crime_data.isna().sum())

Missing values in columns used for Danger Level assignment:
AREA NAME          0
Part 1-2           0
Crm Cd             0
Crm Cd Desc     1563
Mocodes         7204
Premis Desc        0
Crm Cd 1           0
LOCATION           0
LAT                0
LON                0
Danger Level       0
dtype: int64

In [103]:
# Display the first 10 rows of the dataset
print("First 10 rows of the dataset:")
print(crime_data.head(10))

# Show column names
print("Columns in the dataset:")
print(crime_data.columns)

# Check for missing values in each column
print("Missing values in each column:")
print(crime_data.isna().sum())

# Unique values in 'Danger Level'
if "Danger Level" in crime_data.columns:
    print("Unique values in 'Danger Level':")
    print(crime_data["Danger Level"].unique())
else:
    print("The column 'Danger Level' does not exist.")

First 10 rows of the dataset:
   AREA NAME  Part 1-2  Crm Cd Crm Cd Desc  \
0    Pacific         1     230         NaN
1  Hollywood         1     440  4th Degree
2  Northeast         1     420  4th Degree
3    Pacific         1     331  4th Degree
4     Harbor         1     510  4th Degree
5    West LA         1     310  4th Degree
6    Topanga         1     330  4th Degree
7    Topanga         2     813  4th Degree
8  Hollywood         1     440  4th Degree
9    Pacific         2     624  3rd Degree

                              Mocodes             Premis Desc  Crm Cd 1  \
0            0334 1420 1309 0302 1822    RESTAURANT/FAST FOOD     230.0
1                      0344 1822 1501   CONDOMINIUM/TOWNHOUSE     440.0
2                           1822 0344                  STREET     420.0
3                           0344 1300          GARAGE/CARPORT     331.0
4                                 NaN             PARKING LOT     510.0
5  1612 1822 0352 0344 1402 0342 0321  SINGLE FAMILY DWELLING     310.0
6                           1607 1307                  STREET     330.0
7                                1910              CYBERSPACE     813.0
8                 1822 0344 0352 2032                BALCONY*     440.0
9                                0416                  STREET     624.0

                                   LOCATION      LAT       LON  \
0   5400 W  CENTINELA                    AV  33.9769 -118.3846
1   1400 N  FORMOSA                      AV  34.0962 -118.3462
2   4500    SAN ANDREAS                  AV  34.1099 -118.2178
3    200    4TH                          AV  33.9991 -118.4766
4   2500 E  223RD                        ST  33.8243 -118.2250
5   1800 S  BENTLEY                      AV  34.0463 -118.4419
6           MARIANO                      ST  34.1670 -118.6424
7  23800    ALBERS                       ST  34.1690 -118.6448
8   1300 N  ALTA VISTA                   BL  34.0944 -118.3472
9                                 ROBERTSON  34.0278 -118.3901

       Danger Level
0  Very High Danger
1       High Danger
2       High Danger
3  Very High Danger
4       High Danger
5       High Danger
6     Medium Danger
7     Medium Danger
8       High Danger
9  Very High Danger
Columns in the dataset:
Index(['AREA NAME', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Premis Desc', 'Crm Cd 1', 'LOCATION', 'LAT', 'LON', 'Danger Level'],
      dtype='object')
Missing values in each column:
AREA NAME          0
Part 1-2           0
Crm Cd             0
Crm Cd Desc     1563
Mocodes         7204
Premis Desc        0
Crm Cd 1           0
LOCATION           0
LAT                0
LON                0
Danger Level       0
dtype: int64
Unique values in 'Danger Level':
['Very High Danger' 'High Danger' 'Medium Danger' 'Low Danger']